html,
body {

    margin:0;
    padding:0;

    width:100%;

    background:transparent;

    font-family:'Montserrat',sans-serif;

    overflow:hidden;

}


* {
    box-sizing:border-box;
}



#mw-widget {

    width:100%;

    max-width:430px;

    height:205px;

    margin:0 auto;

    background:#111111;

    border-radius:18px;

    padding:16px 18px;

    color:white;

    overflow:hidden;

}



.heading {

    font-size:11px;

    font-weight:700;

    letter-spacing:1px;

    color:#ffffff;

}



.status-row {

    display:flex;

    align-items:center;

    gap:8px;

    margin-top:7px;

    font-size:13px;

    font-weight:700;

}



.live-dot {

    width:7px;

    height:7px;

    background:#FAC705;

    border-radius:50%;

}



.show {

    margin-top:4px;

    font-size:13px;

    font-weight:600;

    line-height:17px;

    color:#FAC705;

    white-space:nowrap;

    overflow:hidden;

    text-overflow:ellipsis;

}



.now-heading {

    margin-top:13px;

    font-size:11px;

    font-weight:700;

    letter-spacing:1px;

    color:#ffffff;

}



.song {

    margin-top:6px;

    font-size:18px;

    font-weight:700;

    line-height:22px;

    color:#FAC705;

    white-space:nowrap;

    overflow:hidden;

    text-overflow:ellipsis;

}



.artist {

    margin-top:4px;

    font-size:12px;

    font-weight:500;

    color:#aaaaaa;

    white-space:nowrap;

    overflow:hidden;

    text-overflow:ellipsis;

}
