body {
    margin:0;
    padding:0;
    background:transparent;
    font-family:'Montserrat', sans-serif;
    overflow:hidden;
}


#mw-widget {

    width:100%;
    max-width:430px;

    margin:0 auto;

    box-sizing:border-box;

    background:#111111;

    border-radius:18px;

    padding:14px 18px;

    color:white;

}


.heading {

    font-size:11px;

    font-weight:700;

    letter-spacing:1px;

    color:#ffffff;

}


.status-row {

    display:flex;

    align-items:center;

    gap:7px;

    margin-top:7px;

    font-size:13px;

    font-weight:700;

}



.live-dot {

    width:7px;

    height:7px;

    background:#FAC705;

    border-radius:50%;

}



.show {

    margin-top:3px;

    font-size:13px;

    font-weight:600;

    color:#FAC705;

    line-height:1.25;

}


.divider {

    display:none;

}



.song {

    margin-top:12px;

    font-size:18px;

    font-weight:700;

    line-height:1.2;

    color:#FAC705;

}


.artist {

    margin-top:3px;

    font-size:12px;

    color:#aaaaaa;

    font-weight:500;

}
